<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns		= "http://www.w3.org/ns/widgets"
	xmlns:gap	= "http://phonegap.com/ns/1.0"
	id		= "io.github.5310"
	version 	= "1.0.0">

	<name>Scytale</name>

	<description>
		A simple passkey protected note taking application.
	</description>

	<author href="build.phonegap.com"
		email="">
		Sayantan Chaudhuri
	</author>

	<icon src="icon.png" gap:role="default" />

	<plugin name="Storage" value="org.apache.cordova.Storage" />

	<preference name="orientation" value="portrait" />
</widget>
