<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.github.5310"
        version	  = "1.0.0" >

    <name>Scytale</name>

    <description>
        A simple passkey protected note taker built with localstorage, Knockout.js, Fries, and Cordova/Phonegap. 
    </description>

    <author href="http://5310.github.io" email="support@phonegap.com">
        Sayantan Chaudhuri
    </author>
    
    <preference name="phonegap-version" value="2.9.0" />
    <preference name="orientation" value="portrait" />
    <preference name="android-installLocation" value="preferExternal" />
    
    <icon src="icon.png" />

</widget>
