ul, ol {
    list-style-type: none;
}

.preformatted {
    white-space: pre;
}

.error, .error * {
    color: #f44 !important; 
}
input.error {
    border-color: #f44 !important;
}
.warning, .warning * {
    color: #fe6 !important; 
}
input.warning {
    border-color: #fe6 !important;
}

.link {
    font-style: italic;
    border-bottom: 1px dotted;
}
.atom_type_link_full .link {
    font-size: 1.5em;
}

.card {
    border-bottom: 2px solid #1f1f1f;
    background-color: #222;
    box-shadow: 0 1px 3px rgba(0,0,0,0.25);
    margin: 12px 0;
    padding: 8px 10px;
    border-radius: 1px;
    font-size: 13px;
}
.card.locked {
    background:url(
        data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAUUlEQVQYV2MUFBT8zwAFQDaMiUK/f/+egRGmEJ8ikC6wQkKKwAqVlJTgViPbB7IOGWBViK4IZCOGQmyKMKzGpQhFIT5FcIWEFMGDB9l3uIIKALEkKDFqsUI7AAAAAElFTkSuQmCC
    ) repeat;
    box-shadow:inset 0 0 40px #222;
}

.card:active {
    background-color: rgba(51, 181, 229, 0.5);
}
.card .key {
    font-size: 12px;
    margin-top: 4px;
    font-weight: normal;
    color: #777;
}
.card .atom {
    margin: 6px 0;
}

.card h2 {
    font-size: 16px;
    font-weight: normal;
}

.card .folder {
    font-style: italic;
}
.card .folder:after {
    content: " /";
    opacity: 0.5;
}
