.preformatted {
    white-space: pre;
}

.error {
    color: #f44;
    border-color: #f44 !important;
}
.warning {
    color: #fe6;
    border-color: #fe6 !important;
}

.link {
    font-style: italic;
    border-bottom: 1px dotted;
}
.atom_type_link_full .link {
    font-size: 1.5em;
}
